:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.end-actions {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.list-container {
  flex: 1;
  margin: 0 5px;
  margin-left: 10px;
  border-radius: var(--mat-sys-corner-medium);
  overflow: hidden;

  .list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;

    ::ng-deep.simplebar-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &::before,
      &::after {
        content: initial;
      }
    }

    ::ng-deep.simplebar-scrollbar {
      pointer-events: all;
      &::before {
        background-color: var(--mat-sys-secondary);
        inset: 3px;
      }
    }
  }
}

.delete-button {
  color: var(--mat-sys-error);
}

.no-devices {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  img {
    max-height: 80px;
  }

  button {
    margin: 14px;
  }
}
