<mat-toolbar color="primary" class="top-toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="onOpenSideBarMenu()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <app-logo-component></app-logo-component>
  <div class="end-actions">
    @if (showCheckbox) {
      <button
        type="button"
        aria-label="Delete device"
        matTooltip="Delete selected device(s)"
        matTooltipShowDelay="800"
        mat-icon-button
        class="delete-button"
        (click)="onOpenDeleteDevicesDialog()">
        <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
      </button>
    }
    <button
      type="button"
      aria-label="Add device"
      matTooltip="Add a new device"
      matTooltipShowDelay="800"
      mat-icon-button
      (click)="onOpenAddDeviceDialog()">
      <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="list-container">
  <ngx-simplebar class="list">
    @for (
      deviceWithState of devicesWithState;
      track deviceWithState.device.macAddress
    ) {
      <app-device-list-item
        [deviceWithState]="deviceWithState"
        (click)="setSelectedDevice(deviceWithState)"
        [isSelected]="
          deviceWithState.device.macAddress ===
          selectedDeviceWithState?.device?.macAddress
        "
        (deviceChecked)="onDeviceChecked(deviceWithState, $event)"
        [showCheckbox]="showCheckbox"></app-device-list-item>
    } @empty {
      <div class="no-devices">
        <img src="akemi_018_teeth.png" alt="No devices found" />
        You don't have any visible devices
        <button mat-flat-button (click)="onOpenAddDeviceDialog()">
          <mat-icon aria-label="Add device icon">add</mat-icon> Add a new device
        </button>
      </div>
    }
  </ngx-simplebar>
</div>
