<div class="device-list-detail-container">
  <mat-list>
    @for (deviceWithState of devicesWithState; track deviceWithState.device.macAddress) {
      <!-- Having 4 lines or more seem to just disable the height limit,so 5
     is a nice number-->
      <mat-list-item style="width: 500px" lines="5">
        <app-device-list-item [deviceWithState]="deviceWithState" (click)="setSelectedDevice(deviceWithState)"></app-device-list-item>
      </mat-list-item>
    } @empty {
      <div>No device found.</div>
    }
  </mat-list>

  <iframe [src]="selectedDeviceAddress" *ngIf="selectedDeviceAddress !== null"></iframe>
</div>
