.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

iframe {
  flex: 1;
  border: none;
  margin: 5px;
  margin-top: 0;
  border-radius: var(
    --mdc-elevated-card-container-shape,
    var(--mat-sys-corner-medium)
  );
  box-shadow: var(
    --mdc-elevated-card-container-elevation,
    var(--mat-sys-level1)
  );
}
