.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  padding: 20px;

  .sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mat-toolbar {
    background: inherit;
    display: flex;
    justify-content: center;
  }

  mat-divider {
    margin: 10px;
  }

  footer {
    margin-top: auto;
    text-align: center;
    font: var(--mat-sys-body-small);

    a {
      color: var(--mat-sys-primary-fixed-dim);
    }

    .project-name {
      font: var(--mat-sys-body-medium);
    }

    .copyright {
      margin-top: 7px;
      font: var(--mat-sys-body-small);
      a {
        color: var(--mat-sys-on-background);
      }
    }
  }
}

.two-pane {
  display: flex;
  height: 100%;
  > :first-child {
    flex: 0 1 400px;
    min-width: 290px;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  > :last-child {
    flex: 1 1 450px;
    min-width: 370px;
  }
}

app-device-list {
  flex: 1;
  overflow: auto;
}
