.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  padding: 20px;

  .mat-toolbar {
    background: inherit;
    display: flex;
    justify-content: center;
  }

  mat-divider {
    margin: 10px;
  }
}

.two-pane {
  display: flex;
  height: 100%;
  > :first-child {
    flex: 0 1 400px;
    min-width: 290px;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  > :last-child {
    flex: 1 1 450px;
    min-width: 370px;
  }
}

app-device-list {
  flex: 1;
  overflow: auto;
}
