<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>
      <app-logo-component></app-logo-component>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="openAddDeviceDialog()" [routerLink]="[]"
        >Add new device</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="two-pane">
      <div>
        <app-device-list
          (deviceSelected)="setSelectedDevice($event)"
          (openAddDeviceDialog)="openAddDeviceDialog()"
          (openSidebarMenu)="drawer.toggle()"></app-device-list>
      </div>
      <div>
        <app-device-details
          [deviceWithState]="selectedDeviceWithState"></app-device-details>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
