/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #fff5 transparent;
}

mat-toolbar.top-toolbar {
  -webkit-app-region: drag;
  padding-top: env(titlebar-area-height, 0);
  height: calc(
    var(--mat-toolbar-standard-height, 64px) + env(titlebar-area-height, 0)
  );
}

button,
.mat-drawer-shown {
  -webkit-app-region: no-drag;
}
