@use '@angular/material' as mat;

mat-card {
  cursor: pointer;
  background-color: var(--mat-sys-surface);
  margin-bottom: 5px;

  &:hover {
    background-color: var(
      --mdc-elevated-card-container-color,
      var(--mat-sys-surface-container-low)
    );
  }

  &.selected {
    background-color: var(--mat-sys-primary-container);
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-row {
  flex: 1;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

mat-card-title {
  position: relative;
}

.connection-status {
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;

  &.connected {
    background-color: chartreuse;
  }
  &.disconnected {
    background-color: red;
  }
}

mat-slider {
  width: 100%;
  margin-top: -18px;
  margin-bottom: -16px;

  @include mat.slider-overrides(
    (
      active-track-height: 7px,
      inactive-track-height: 7px,
      with-overlap-handle-outline-width: 17px,
      handle-height: 24px,
      handle-width: 8px,
    )
  );

  mat-slider-visual-thumb {
    height: 24px;
    width: 24px;
  }
}

mat-slide-toggle {
  float: right;
}
