<mat-card
  appearance="raised"
  class="mat-elevation-z0"
  [ngClass]="{ selected: isSelected }">
  <mat-card-content>
    <mat-card-header class="flex-container">
      <div class="title-row">
        <mat-card-title>{{ deviceWithState.displayName() }}</mat-card-title>
        <mat-card-subtitle>
          {{ deviceWithState.device.address }}
          <mat-icon
            aria-hidden="false"
            aria-label="Wifi Status"
            fontIcon="network_wifi_3_bar"></mat-icon>
          - Connected:
          {{ deviceWithState.isWebsocketConnected }}</mat-card-subtitle
        >
      </div>
      <div>
        <mat-slide-toggle
          checked="{{ deviceWithState.stateInfo?.state?.isOn }}"
          hideIcon="true"
          (change)="toggleSwitch($event)"></mat-slide-toggle>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <mat-slider
        min="0"
        max="255"
        step="1"
        discrete
        (input)="onBrightnessInput($event)">
        <input
          matSliderThumb
          value="{{ deviceWithState.stateInfo?.state?.brightness }}"
          [(ngModel)]="brightness" />
      </mat-slider>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
