@use '@angular/material' as mat;

mat-card {
  cursor: pointer;
  background-color: var(--mat-sys-surface);
  margin-bottom: 5px;

  &:hover {
    background-color: var(
      --mdc-elevated-card-container-color,
      var(--mat-sys-surface-container-low)
    );

    .device-checkbox {
      display: flex;
    }
    .device-icon {
      display: none;
    }
  }

  &.selected {
    background-color: var(--mat-sys-primary-container);
  }

  mat-card-content {
    padding: 0;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-row {
  flex: 1;
  margin-left: 8px;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

mat-card-title {
  position: relative;
}

.title-row-action {
  .device-icon {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--mat-sys-secondary-container);
    border-radius: 50%;

    mat-icon {
      color: var(--mat-sys-on-secondary-container);
    }
  }
  > * {
    display: none;
    margin-top: 1px;
  }
  .visible {
    display: flex;
  }
}

.connection-status {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;

  &.connected {
    background-color: chartreuse;
  }
  &.disconnected {
    background-color: red;
  }
}

mat-slider {
  width: 100%;
  margin-top: -18px;
  margin-bottom: -16px;

  @include mat.slider-overrides(
    (
      active-track-height: 7px,
      inactive-track-height: 7px,
      with-overlap-handle-outline-width: 17px,
      handle-height: 24px,
      handle-width: 8px,
    )
  );

  mat-slider-visual-thumb {
    height: 24px;
    width: 24px;
  }
}

mat-slide-toggle {
  float: right;
}
